<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div class="container col-md-3 mt-5  ">
    <div class="card " >
        <div class="card-header bg-primary text-light" style="align-content:center"><h3 >Connection</h3></div>
        <div class="card-body">
            <form th:action="@{/login}" method="post">
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" name="username" value="" class="form-control" />
                    <label class="form-label" >Login</label>
                </div>

                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" name="password" value="" class="form-control" />
                    <label class="form-label" >Mot De Passe</label>
                </div>

                <!-- 2 column grid layout for inline styling -->


                <!-- Submit button -->
                <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Connecter</button>
            </form>
            <a href="/ForgotPassword">Mot De Passe Oublié</a>
        </div>
    </div>

</div>

</body>
</html>